.gslide-description {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 15px 0 !important;
  position: relative !important;
  bottom: auto !important;
}


.gslide-title,
.gslide-desc {
  text-align: center !important;
  color: #f0f0f0 !important;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.gslide-title {
  font-size: 1.4rem !important;
  margin-bottom: 8px !important;
}


.gslide-desc {
  font-size: 1rem !important;
}